<mat-card>
    <mat-card-title>Troy's Dice Roller</mat-card-title>

    <mat-card-content>
        <p>because your to lazy to do it yourself...</p>

        <!-- This button doesn't do anything...-->
        <button (click)="areYouJoking()" mat-mini-fab color="">D1</button>
        &nbsp;
        <button (click)="rollDice(4)" mat-mini-fab color="primary">D4</button>
        &nbsp;
        <button (click)="rollDice(6)" mat-mini-fab color="primary">D6</button>
        &nbsp;
        <button (click)="rollDice(8)" mat-mini-fab color="primary">D8</button>
        &nbsp;
        <button (click)="rollDice(10)" mat-mini-fab color="primary">D10</button>
        &nbsp;
        <button (click)="rollDice(12)" mat-mini-fab color="primary">D12</button>
        &nbsp;
        <button (click)="rollDice(20)" mat-fab>D20</button>
    </mat-card-content>
</mat-card>
